<div v-on="click:open()">
    <span class="date-text" v-text="date"></span>
    <i class="icon icon-calendar"></i>
    <div class="date-picker">
        <div class="header">
            <a href="javascript:;" class="handle pre" v-on="click:change(-1)"><i class="icon icon-chevron-left"></i></a>
            <a href="javascript:;" v-on="click:statusToggle()" class="handle year">{{showDate.year}} 年<span v-show="status == 1"> {{showDate.month + 1}} 月</span></a>
            <a href="javascript:;" class="handle next" v-on="click:change(1)"><i class="icon icon-chevron-right"></i></a>
        </div>
        <div class="inner" v-show="status == 1">
            <div class="week" v-repeat="w:['日', '一', '二', '三', '四', '五', '六']">{{w}}</div>
            <button type="button" v-on="click:set(day)" v-class="gray: day.month!=showDate.month, today:day.date==currentDate.day && day.month==currentDate.month" class="day" v-repeat="day:days">{{day.date}}</button>
        </div>
        <div class="inner" v-show="status == 2">
            <button type="button" v-on="click:setMonth(month-1)" class="month" v-repeat="month:[1,2,3,4,5,6,7,8,9,10,11,12]"">{{month}}月</button>
        </div>
        <div class="inner" v-show="status == 3">
            <button type="button" v-on="click:setYear(year)" class="year" v-repeat="year:years">{{year}}</button>
        </div>
    </div>
</div> 
