<div v-on="click:open()">
    <span v-class="hide:!!date" class="placeholder">{{placeholder}}</span>
    <span class="date-text" v-text="text"></span>
    <i class="icon icon-calendar"></i>
    <div class="date-picker">
        <div class="date-picker-header">
            <a href="javascript:;" class="date-picker-handle pre" v-on="click:change(-1)"><i class="icon icon-chevron-left"></i></a>
            <a href="javascript:;" v-on="click:stageToggle()" class="date-picker-handle year"><span>{{header}}</span></a>
            <a href="javascript:;" class="date-picker-handle next" v-on="click:change(1)"><i class="icon icon-chevron-right"></i></a>
        </div>
        <div class="inner" v-show="stage == 1">
            <div class="week" v-repeat="w:options.weekday">{{w}}</div>
            <button type="button" v-on="click:set(day, $event)" v-class="gray: day.month!=showDate.month, today:day.date==currentDate.date && day.month==currentDate.month" class="day" v-repeat="day:days">{{day.date}}</button>
        </div>
        <div class="inner" v-show="stage == 2">
            <button type="button" v-on="click:setMonth($index)" class="month" v-repeat="options.month">{{$value}}</button>
        </div>
        <div class="inner" v-show="stage == 3">
            <button type="button" v-on="click:setYear(year)" class="year" v-repeat="year:years">{{year}}</button>
        </div>
    </div>
</div> 
