<div class="openbox">
    <div class="openbox-backdrop"></div>
    <div class="openbox-inner" v-on="click:bgclose">
        <div class="openbox-content">
            <a href="script:;" class="close" v-on="click:close(false)">&times;</a>
            <div class="openbox-header" v-if="title">
                <h3 v-text="title"></h3>
            </div>
            <div class="openbox-body" v-view="content" v-with="src:src, model:model"></div>
            <div class="openbox-footer">
                <button type="button" class="btn btn-{{type}}" v-text="text" v-on="click:fn()" v-repeat="btns"></button>
            </div>
        </div>
    </div>
</div>

